<div class="row">
  <div class="col-md-6">
    <label class="form-label" for="range-from-{{ data_iden }}">From</label>
    <input name="range-from" value="{{ range_value.lower }}" placeholder="0" id="range-from-{{ data_iden }}" type="number" class="form-control" />
  </div>
  <div class="col-md-6">
    <label class="form-label" for="range-to-{{ data_iden }}">To</label>
    <input name="range-to" value="{{ range_value.upper }}" placeholder="101" id="range-to-{{ data_iden }}" type="number" class="form-control" />
  </div>
</div>
