{% extends "dummy/base.html" %}
{% block title %}My schemes{% endblock title %}
{% block navbar_text %}Schemes{% endblock navbar_text %}
{% block container %}
<div class="container mb-5">
  <div class="row mb-4">
    <div class="col-auto me-auto">
      <h2>Data schemes</h2>
    </div>
    <div class="col-auto">
      <a href="/new_schema" class="btn btn-success">New Schema</a>
    </div>
    <div class="col-auto">
      <a href="/my_datasets" class="btn btn-success">Generate From schema</a>
    </div>
  </div>
  <div class="row">

    {% if schemes|length > 0 %}
    <!-- forloop.counter -->
    <table class="table table-bordered col-auto">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Modified</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for schema in schemes %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="#">{{ schema.name }}</a></td>
          <td>{{ schema.modified_date|date:"Y-m-d H:i:s" }}</td>
          <td class="actions">
            <a href="/edit_schema/{{ schema.id }}">Edit schema</a>
            <a href="/delete_schema/{{ schema.id }}" class="text-danger">Delete</a>
          </td>
        </tr>
        {% endfor %}
        <!-- <tr>
          <td>2</td>
          <td><a href="#">Players</a></td>
          <td>2021-03-16</td>
          <td>
            <a href="#">Edit scheme</a>
            <a href="#" class="text-danger">Delete</a>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td><a href="#">Co-founders</a></td>
          <td>2021-03-16</td>
          <td>
            <a href="#">Edit scheme</a>
            <a href="#" class="text-danger">Delete</a>
          </td>
        </tr> -->
      </tbody>
    </table>
    {% else %}
    <h3>Sorry, you have no schemes yet. Click "New Schema" button to create first one.</h3>
  {% endif %}


  </div>
</div>
{% endblock container %}
